<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Highlight Common Keywords</title>
    <link rel="stylesheet" href="../static/css/fontawesome.css">
    <link rel="stylesheet" href="../static/css/robotofont.css">
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/mdb.css" rel="stylesheet">
    <link href="../static/css/main.css" rel="stylesheet">
</head>
<body>
    It works as well.

    <!-- JS File Imports -->
    <script type="text/javascript" src="../static/js/jquery.js"></script>
    <script type="text/javascript" src="../static/js/popper.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.js"></script>
    <script type="text/javascript" src="../static/js/mdb.js"></script>
</body>
</html>